/* SideBar */
.sidebar .nav-link {
  display: inline-block !important;
  padding: 6px 20px 3px 20px;
}
.sidebar .active .nav-link {
  color: #00b77c;
}
.sidebar .active .nav-link .feather {
  color: inherit;
}
.sidebar{
    box-shadow: initial !important;
    padding: 57px 20px 20px 20px;
    bottom: -21px;
    left: -21px;
}
.sidebar-sticky{
    background: #ff009940;
    padding: 0px 0px 0px 0px;
    height:100%;
}


li.navbar-header {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

img.sidebar-logo {
    width: 60px;
}
img.coming-soon {
    width: 100%;
    filter: hue-rotate(34deg);
}
.dashboard-username {
    float: left;
    font-size: 28px;
    margin: 4px 0 0 19px;
}
.sidebar-title {
    font-size: 27px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin: 0 20px;
    cursor: default;
    display: inline-block;
    border-bottom: 1px solid black;
}
li.nav-item {
    margin-top: 2px;
    border-radius: 11px;
    transition:0.3s ease;
}
li.nav-item.active {
    background: #ffffff94;
}
li.nav-item:hover {
    background: #ffffffbf !important;
}
.nav-link-icon{
    width: 30px;
    height: 30px;
    float: left;
}
.sidebar-link-text {
    margin-top: 4px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 700;
    float: left;
}
.owner-extra {
    display: inline-block;
    float: left;
    position: relative;
}

/* Order-User view tables*/
.Edit-Delete{
  text-align: center;
}
.first-select-label{
  display:none;
}
tr{
  transition: 0.4s ease;
}
tr:hover {
  background: rgba(189, 248, 251, 0.3) !important;
}
thead tr:hover{
  background: white !important;
}

/* Dynamic Loading Elements*/
.Dynamic-Load{
  transition:0.8s ease;
}

th, td {
  text-align: center;
}

.error{
  color: red;
}

select{
  color: initial !important;
}

/* Main Area */
main {
    margin: 2px 0px 20px 0;
}

.col-lg-9 {
    flex: 0 0 79% !important;
    max-width: 79% !important;
}

/* Nav Bar */
.navbar-dark{
    background:#5896e3;
    margin-left: -24px;
    padding: 10px 20px !important;
}
a.navbar-brand {
    font-size: 25px;
    text-align: center;
    background: rgba(0,0,0,0);
    color: #00da9e;
    box-shadow: none;
    padding: 0 20px !important;
}
.navbar-username-holder {
    color: white;
    float:left;
}
span.username-text {
    color: darkblue;
}
.navbar-logout-link{
    margin:10px;
    color: lime !important;
}
img.logout-icon {
    width: 30px;
    margin-top: -4px;
    height: 30px;
    float: right;
    filter: invert(1);
}

/* General */
body, nav.sidebar{
    /*background: #f8f8f8;*/
}
.Float-Left{
    float:left;
}
.Margin-Auto{
    margin:auto;
}
.Margin-Initial{
    margin:initial !important;
}
.Ghost{
    display:none;
}
.display{
    opacity:1;
    z-index: 2000;
}
.alert-time-run {
    width: 0 !important;
    background: #005600;
}
.class-header{
    font-weight: 500;
    color: black !important;
    text-decoration: underline !important;
    background: #d7d7d7;
}

.ml-sm-auto, .mx-sm-auto {
    margin-left: 265px !important;
}